<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=no,minimal-ui">
    <title>启梦</title>
    <link rel="icon" href="/images/sign.png">
    <!--不同屏幕尺寸根字体设置-->
    <script src="./js/base.js"></script>
    <!--element-ui的样式-->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入样式  -->
    <link rel="stylesheet" href="css/index.css" />
    <!--本页面内容的样式-->
    <link rel="stylesheet" href="css/main.css" />
  </head>
  <body>
    <div id="main" class="app">
      <div class="divHead">
      </div>
      <div class="divTitle">
        <div class="divStatic">
          <img src="/images/logo.png" class="logo"/>
          <div class="divDesc">
            <div class="divName">启梦~For learning</div>
            <div class="divSend">
              <i class="el-icon-user">创始人:***</i>
                <span><img src="/images/weixing.png"/>:***********</span>
                <span><img src="/images/qq.jpg"/>:**********</span>
            </div>
          </div>
        </div>
        <div class="divDesc">
          <div>
            <el-input placeholder="请输入内容(如，‘数学’，‘试卷’等)" v-model="input3" class="input-with-select">
              <el-select v-model="select" slot="prepend" placeholder="请选择">
                <el-option v-for="(item,index) in categoryList" :label="item" :value="item"></el-option>
              </el-select>
              <el-button slot="append" icon="el-icon-search" @click="search()"></el-button>
            </el-input><br>
            <span>(温馨提示:如本平台无所需资源,可通过反馈形式获取)</span>
          </div>
        </div>
      </div>
      <div class="divBody">
        <div class="divType">
          <ul>
            <li style="color: #e1cb9a" v-for="item in categoryList" @click="categoryClick(item)">
              <div>
                {{item}}
              </div>
              <hr>
              </li>
          </ul>
        </div>
        <div class="divMenu">
          <div>
            <div class="divItem" v-for="item in dishList" @click="dishDetails(item)">
              <div style="width: 100%">
                <el-link icon="el-icon-loading" :href="item.url"><i class="el-icon-right">{{item.title}}</i></el-link><br>
                <el-button type="info" size="mini" plain>提取码:{{item.password}}</el-button>
                <hr/>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="divCart" >
          <div style="width: 100%">
            <div style="text-align:center">
              <div style="width: 100%;height: 2rem"/>
              <el-link type="primary" href="GetMessage.html"><i class="el-icon-thumb">免费找家教</i></el-link>
              <el-link type="primary" href="feedBack.html"><i class="el-icon-s-promotion">反馈</i></el-link>
              <el-link type="primary" href="share.html"><i class="el-icon-share">分享资源</i></el-link>
              <el-link type="primary" href="/QM/index.html"><i class="el-icon-s-home">主页</i></el-link>
            </div>
          </div>
        </div>
    </div>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="js/vue.js"></script>
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!-- 引入axios -->
    <script src="js/axios.min.js"></script>
    <script src="js/request.js"></script>
  </body>
  <script>
      new Vue({
          el:'#main',
          data(){
            return {
              input3: '',
              select: '',
              //左边菜品类别index
              activeType:0,
              categoryList:["综合资源","幼儿","一年级","二年级","三年级","四年级","五年级",
                      "六年级","初一","初二","初三","高一","高二","高三","大学"
              ],
              dishList:[]
            }
          },
          created(){
          },
          mounted(){
            this.initData()
          },
          methods:{
            //上方搜索(点击搜索)
            search(){
              let msg1=this.select.trim();
              let msg2=this.input3.trim();
              let self_this=this;
              if (msg1=="综合资源"){
                msg1='';
              }
              axios.get("/student/resource/list/like?msg1="+msg1+"&msg2="+msg2).then((resp)=>{
                self_this.dishList=resp.data.data
              })
              //设置选择数据清空
              this.select='';
              this.input3='';
            },
            //初始化数据
            initData(){
              let self_this=this;
              axios.get("/student/resource/list").then((resp)=>{
                self_this.dishList=resp.data.data
              })
            },
            //分类点击
            categoryClick(item){
              // console.log(item =="综合资源")
              if (item =="综合资源"){
                this.initData()
              }else {
                let self_this=this;
                axios.get("/student/resource/list/like?msg1="+item.trim()).then((resp)=>{
                  self_this.dishList=resp.data.data
                })
              }
            }
          }
      })
  </script>
  </html>
